node_modules/
cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*
/.vs/NC_PRF/FileContentIndex/46bc7583-23e9-4755-9e13-f8e2110a1429.vsidx
/.vs/NC_PRF/FileContentIndex/aba01943-0f1d-43d5-b18d-09ceecac3d67.vsidx
/.vs/NC_PRF/v17/.wsuo
/.vs/NC_PRF/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
